/* Reduce el espacio entre el logo y el texto principal del header */
#header > * {
  margin-top: 2rem !important;
}
#header > :first-child {
  margin-top: 0 !important;
}
#header .content .inner {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
@media screen and (max-width: 736px) {
  #header > * {
    margin-top: 0.5rem !important;
  }
  #header .content .inner {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}
